/*
---------------FONTS----------------
*/


@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-Medium.eot');
    src: url('../font/SFProText-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProText-Medium.woff2') format('woff2'),
        url('../font/SFProText-Medium.woff') format('woff'),
        url('../font/SFProText-Medium.ttf') format('truetype'),
        url('../font/SFProText-Medium.otf') format('opentype'),
        url('../font/SFProText-Medium.svg#SFProText-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SFProDisplay-Regular.eot');
    src: url('../font/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProDisplay-Regular.woff2') format('woff2'),
        url('../font/SFProDisplay-Regular.woff') format('woff'),
        url('../font/SFProDisplay-Regular.ttf') format('truetype'),
        url('../font/SFProDisplay-Regular.otf') format('opentype'),
        url('../font/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-Light.eot');
    src: url('../font/SFProText-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProText-Light.woff2') format('woff2'),
        url('../font/SFProText-Light.woff') format('woff'),
        url('../font/SFProText-Light.ttf') format('truetype'),
        url('../font/SFProText-Light.otf') format('opentype'),
        url('../font/SFProText-Light.svg#SFProText-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-Regular.eot');
    src: url('../font/SFProText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProText-Regular.woff2') format('woff2'),
        url('../font/SFProText-Regular.woff') format('woff'),
        url('../font/SFProText-Regular.ttf') format('truetype'),
        url('../font/SFProText-Regular.otf') format('opentype'),
        url('../font/SFProText-Regular.svg#SFProText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SFProDisplay-Bold.eot');
    src: url('../font/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProDisplay-Bold.woff2') format('woff2'),
        url('../font/SFProDisplay-Bold.woff') format('woff'),
        url('../font/SFProDisplay-Bold.ttf') format('truetype'),
        url('../font/SFProDisplay-Bold.otf') format('opentype'),
        url('../font/SFProDisplay-Bold.svg#SFProDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SFProDisplay-Light.eot');
    src: url('../font/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProDisplay-Light.woff2') format('woff2'),
        url('../font/SFProDisplay-Light.woff') format('woff'),
        url('../font/SFProDisplay-Light.ttf') format('truetype'),
        url('../font/SFProDisplay-Light.otf') format('opentype'),
        url('../font/SFProDisplay-Light.svg#SFProDisplay-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-Thin.eot');
    src: url('../font/SFProText-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProText-Thin.woff2') format('woff2'),
        url('../font/SFProText-Thin.woff') format('woff'),
        url('../font/SFProText-Thin.ttf') format('truetype'),
        url('../font/SFProText-Thin.otf') format('opentype'),
        url('../font/SFProText-Thin.svg#SFProText-Thin') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-Ultralight.eot');
    src: url('../font/SFProText-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProText-Ultralight.woff2') format('woff2'),
        url('../font/SFProText-Ultralight.woff') format('woff'),
        url('../font/SFProText-Ultralight.ttf') format('truetype'),
        url('../font/SFProText-Ultralight.otf') format('opentype'),
        url('../font/SFProText-Ultralight.svg#SFProText-Ultralight') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SFProDisplay-Ultralight.eot');
    src: url('../font/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProDisplay-Ultralight.woff2') format('woff2'),
        url('../font/SFProDisplay-Ultralight.woff') format('woff'),
        url('../font/SFProDisplay-Ultralight.ttf') format('truetype'),
        url('../font/SFProDisplay-Ultralight.otf') format('opentype'),
        url('../font/SFProDisplay-Ultralight.svg#SFProDisplay-Ultralight') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SFProDisplay-Thin.eot');
    src: url('../font/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/SFProDisplay-Thin.woff2') format('woff2'),
        url('../font/SFProDisplay-Thin.woff') format('woff'),
        url('../font/SFProDisplay-Thin.ttf') format('truetype'),
        url('../font/SFProDisplay-Thin.otf') format('opentype'),
        url('../font/SFProDisplay-Thin.svg#SFProDisplay-Thin') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

