/*
---------------FOOTER----------------
*/


footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgba(216, 216, 216, 0.18);
    border-top: 1px solid rgba(151, 151, 151, 1);
    position: absolute;
    height: 60px;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 8px;
 }
 .links_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
 footer a {
    color: rgb(44, 150, 168);
 }
 footer a:hover {
    color: rgb(50, 168, 189);
    text-decoration: underline;
 }
 footer p {
    color: white;
    font-family: 'SFProText',sans-serif;
    font-weight: 100;
    font-size: 0.75em;
 }