/*
---------------STYLE----------------
*/


html {
   position: relative;
   min-height: 100%;
   }

body {
   background-color: rgb(202, 202, 202) ;
   background-image: url("../img/pictures/sun-2297961.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0 0 180px;
   padding: 0;
}
a {
   color: rgb(50, 168, 189);
   text-decoration: none;
}
a:visited {
   color: none;
}
strong {
   color: rgba(236, 104, 10, 1);
}
h1 {
   font-family: 'SFProDisplay', sans-serif;
   font-weight: normal;
   font-size: 0.5em;
   letter-spacing: 0.5em;
   padding-left: 40px;
   padding-right: 40px;
}
h2 {
   font-family: 'SFProDisplay',sans-serif;
   font-weight: 100;
   font-size: 0.9em;
   letter-spacing: 0.45em;
   padding-left: 20px;
   padding-right: 20px;
}
h3 {
   font-family: 'SFProText',sans-serif;
   font-weight: 500;
   font-size : 2.5em;
   margin: 0;
}
h4 {
   font-family: 'SFProDisplay',sans-serif;
   font-weight: normal;
   font-size: 2em;
   margin: 5px 0;
}
h6 {
   font-family: 'SFProText',sans-serif;
   font-weight: normal;
   font-size: 1em;
   margin-left: 15px;
   margin-right: 15px;
   margin-top: 0;
   margin-bottom: 0;
}
p {
   font-family: 'SFProText',sans-serif;
   font-weight: normal;
   font-size: 1em;
   line-height: 1.5;
}
.body_main {
   background-color: rgba(255, 255, 255, 0.85);
   margin-left: 8%;
   margin-right: 8%;
   margin-top: 80px;
   margin-bottom: 80px;
   padding: 6% 8%; 
}